



h1, h6
{
	color: red;
	text-align: center;
	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	font-size: 50px;
}


caption
{
	color: red;
}

h3
{
	text-decoration: underline;
}


p
{
	font-size: 20px;
}







#nous_contacter
{
    color: rgb(71,4,18);
    position: static;
    center: 250px;
    bottom: -438px;
    display: flex;
}